---
layout: page
title: About Us
background: '/img/bg-about.jpg'
---

<h2>Community</h2>

<h3>Moose is a community. <span class="highlight-word">Get involved.</span></h3>
The Moose project started in 1996 at the University of Bern.
Its original goal was to build a language independent meta-model for software analysis.
Since then, it grew to become an open platform for various types of software and data analyses.
Its development is currently supported by several research groups, startups and contributors.

<h2>Team</h2>

<div class="team-presentation row">
    {% for au in site.data.authors %}

        {% assign a = au[0] %}
        <div class="col-lg-4 col-md-6 mx-auto">
            {% include profile_card.html author=a %}
        </div>
    {% endfor %}
</div>

<b>And also</b>

<ul>
    <li>
        <a href="http://bergel.eu/">Prof. Alexandre Bergel</a>
    </li>
    <li>
        <a href="http://andreichis.com/">Dr. Andrei Chis</a>
    </li>
    <li>
        <a href="http://stephane.ducasse.free.fr/">Dr. Stéphane Ducasse</a>
    </li>
    <li>
        <a href="http://tudorgirba.com/">Dr. Tudor Girba</a>
    </li>
    <li>
        Pavel Krivanek
    </li>
    <li>
        <a href="https://ferlicot.fr/">Cyril Ferlicot-Delbecque</a>
    </li>
    <li>
        <a href="https://github.com/orgs/moosetechnology/people">And more...</a>
    </li>
</ul>