{% assign author = site.data.authors[include.author] %}

<aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <a target="_blank" href="#">
        {% if author.gravatar-hash %}
          <img src="https://gravatar.com/avatar/{{ author.gravatar-hash }}?size=256" class="hoverZoomLink no-lightense">
        {% elsif author.image %}
          <img src="{{ author.image }}" class="hoverZoomLink no-lightense">
        {% endif %}
      </a>
  
      <!-- the username -->
      <h1>{{ author.name }}</h1>
  
      <!-- and role or location -->
      <h2>{{ author.role }}</h2>
  
    </header>
  
    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">
  
    <p>
        {{ author.bio }}
    </p>
  
    </div>
  
    <!-- some social links to show off -->
    <ul class="profile-social-links">
      {% if author.twitter %}
      <li>
        <a target="_blank" href="{{ author.twitter }}">
          <i class="bi bi-twitter-x fa-twitter"></i>
        </a>
      </li>
      {% endif %}
      {% if author.github %}
      <li>
        <a target="_blank" href="{{ author.github }}">
          <i class="bi bi-github"></i>
        </a>
      </li>
      {% endif %}
      {% if author.linkedin %}
      <li>
        <a target="_blank" href="{{ author.linkedin }}">
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      {% endif %}
      {% if author.orcid %}
      <li>
        <a target="_blank" href="{{ author.orcid }}">
          <i class="fab  fa-orcid"></i>
        </a>
      </li>
      {% endif %}
      {% if author.personnal-website %}
      <li>
        <a target="_blank" href="{{ author.personnal-website }}">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </aside>