<aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <a target="_blank" href="#">
        <img src="{{ site.data.authors[author].image }}" class="hoverZoomLink">
      </a>
  
      <!-- the username -->
      <h1>{{ site.data.authors[author].name }}</h1>
  
      <!-- and role or location -->
      <h2>{{ site.data.authors[author].role }}</h2>
  
    </header>
  
    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">
  
    <p>
        {{ site.data.authors[author].bio }}
    </p>
  
    </div>
  
    <!-- some social links to show off -->
    <ul class="profile-social-links">
      <!-- <li>
        <a target="_blank" href="https://www.facebook.com/creativedonut">
          <i class="fa fa-facebook"></i>
        </a>
      </li> -->
      <!-- <li>
        <a target="_blank" href="https://twitter.com/dropyourbass">
          <i class="fa fa-twitter"></i>
        </a>
      </li> -->
      <li>
        <a target="_blank" href="{{ site.data.authors[author].GitHub }}">
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>
  </aside>