@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

.hero:where(.astro-jbfsktt5) {
    grid-template-columns: 5fr 5fr;
}

.hero:where(.astro-jbfsktt5)  #_top {
    white-space: nowrap;
}

.astro-eboeziq4 {
    display: none;
}

html[data-theme="dark"] .sl-markdown-content img {
    background-color: lightgrey;
}

img {
    margin: auto;
}